body{
	background-color: blue;
}
h1{
	text-align: center;
	color: cyan;
}
#svetafor {
	background-color: gray; 
	margin-left: auto;
	margin-right: auto;
	width: 74px; 
	padding: 2px}
#svetafor div {
	background-color: black; 
	width: 70px; 
	height: 70px; 
	border-radius: 70px; 
	margin: 2px}
